#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.tab-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.tab {
  padding: 0.5rem 1rem;
  border: 2px solid #d4d1ca;
  background-color: #be9337;
  cursor: pointer;
  transition: background-color 200ms;
}
.tab-content {
  border: 2px solid #d4d1ca;
  min-height: 250px;
  padding: 1rem;
}

.active {
  background-color: #6bd04c;
  font-weight: bold;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.form-field {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}
.form-field-interest {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.error-message {
  color: red;
  font-size: 0.875rem;
  display: block;
}
.button {
  padding: 0.5rem 1rem;
  background-color: #2663a9;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 200ms;
}
